Repository lucax88x/wentsketchy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, gofmt -w

.lintstagedrc.json:

{
  "./**/*.{json,*rc}": ["prettier --write"],
  "package.json": ["sort-package-json"],
  "./**/*.go": ["gofmt -w"]
}

feat: first working example
  .golangci.yml
  cmd/cli/commands/init.go
  cmd/cli/commands/root.go
  cmd/cli/commands/update.go
  cmd/cli/config/colors.go
  cmd/cli/config/helpers.go
  cmd/cli/config/icons.go
  cmd/cli/config/init.go
  cmd/cli/config/init_left.go
  cmd/cli/config/init_right.go
  cmd/cli/config/update.go
  cmd/cli/main.go
  go.mod
  go.sum
  internal/aerospace/api.go
  internal/aerospace/monitors.go
  internal/aerospace/workspaces.go
  internal/clock/clock.go
  internal/command/command.go
  internal/formatter/date.go
  internal/setup/setup.go
  internal/sketchybar/api.go
  internal/sketchybar/background.go
  internal/sketchybar/bar.go
  internal/sketchybar/item.go
  internal/sketchybar/options.go
  internal/wentsketchy/wentsketchy.go
  package.json
Due: prettier --write, sort-package-json, gofmt -w

feat: parallel areospace, separating sketchy logic by tree
  CONTRIBUTING.md
  README.md
  cmd/cli/config/aerospace.go
  cmd/cli/config/colors.go
  cmd/cli/config/helpers.go
  cmd/cli/config/icons.go
  cmd/cli/config/init.go
  cmd/cli/config/init_left.go
  cmd/cli/config/init_right.go
  internal/aerospace/api.go
  internal/aerospace/tree.go
  internal/aerospace/windows.go
  internal/command/command.go
  internal/sketchybar/api.go
  internal/sketchybar/item.go
  internal/sketchybar/options.go
  internal/sketchybar/settings.go
  internal/sketchybar/space.go
  internal/wentsketchy/colors.go
  internal/wentsketchy/fonts.go
  internal/wentsketchy/icon_map.go
  internal/wentsketchy/icons.go
  internal/wentsketchy/wentsketchy.go
  package.json
Due: prettier --write, sort-package-json, gofmt -w

feat: using json as parameters
  cmd/cli/commands/start.go
  internal/fifo/fifo.go
  internal/server/server.go
  internal/wentsketchy/wentsketchy.go
Due: gofmt -w

feat: working version
  cmd/cli/commands/start.go
  cmd/cli/config/args/args.go
  cmd/cli/config/init_left.go
  cmd/cli/config/init_right.go
  cmd/cli/config/items/aerospace.go
  cmd/cli/config/items/battery.go
  cmd/cli/config/items/calendar.go
  cmd/cli/config/items/defaults.go
  cmd/cli/config/items/front_app.go
  cmd/cli/config/items/items.go
  cmd/cli/config/items/main_icon.go
  cmd/cli/config/settings/icons.go
  cmd/cli/config/update.go
  go.mod
  go.sum
  internal/aerospace/events/events.go
  internal/aerospace/tree.go
  internal/fifo/fifo.go
  internal/server/server.go
  internal/sketchybar/background.go
  internal/sketchybar/events/events.go
  internal/sketchybar/image.go
  internal/sketchybar/item.go
  internal/sketchybar/options.go
  internal/wentsketchy/wentsketchy.go
Due: gofmt -w

feat: windows-change works
  cmd/cli/commands/start.go
  cmd/cli/config/args/args.go
  cmd/cli/config/args/args_test.go
  cmd/cli/config/init_left.go
  cmd/cli/config/items/aerospace.go
  cmd/cli/config/items/bar.go
  cmd/cli/config/items/battery.go
  cmd/cli/config/items/calendar.go
  cmd/cli/config/items/defaults.go
  cmd/cli/config/items/front_app.go
  cmd/cli/config/items/main_icon.go
  cmd/cli/config/update.go
  go.mod
  go.sum
  internal/aerospace/api.go
  internal/aerospace/data.go
  internal/aerospace/monitors.go
  internal/aerospace/output-format.go
  internal/aerospace/tree.go
  internal/aerospace/windows.go
  internal/aerospace/workspaces.go
  internal/command/command.go
  internal/fifo/fifo.go
  internal/jobs/job.go
  internal/server/server.go
  internal/sketchybar/api.go
  internal/sketchybar/events/events.go
  internal/sketchybar/query/bar.go
  internal/utils/equals.go
  internal/utils/sanitize.go
  internal/wentsketchy/wentsketchy.go
Due: gofmt -w

feat: working version
  README.md
  cmd/cli/config/init_right.go
  cmd/cli/config/items/aerospace.go
  cmd/cli/config/items/bar.go
  cmd/cli/config/items/battery.go
  cmd/cli/config/items/calendar.go
  cmd/cli/config/items/defaults.go
  cmd/cli/config/items/front_app.go
  cmd/cli/config/items/helpers.go
  cmd/cli/config/items/main_icon.go
  cmd/cli/config/settings/colors.go
  cmd/cli/config/settings/colors/colors.go
  cmd/cli/config/settings/settings.go
  internal/aerospace/api.go
  internal/aerospace/data.go
  internal/aerospace/tree.go
  internal/command/command.go
  internal/sketchybar/api.go
  internal/sketchybar/background.go
  internal/sketchybar/bar.go
  internal/sketchybar/image.go
  internal/sketchybar/item.go
  internal/sketchybar/options.go
  internal/wentsketchy/wentsketchy.go
Due: gofmt -w

docs: updated readme
  README.md
  assets/demo.mp4
Due: none

docs: pdate README.md
  README.md
Due: none

docs: updated readme
  assets/demo.mp4
Due: none

feat: updates
  cmd/cli/config/items/aerospace.go
Due: gofmt -w
